<!doctype html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="canonical" href="<%= siteConfig.publishedUrl %>">
		<title><%= siteConfig.title %>まで残り</title>
	</head>
	<body>
		<h1><%= siteConfig.title %>まで残り</h1>
		<select id="channel" style="font-size: 25px;"></select>
		<p id="time-display" style="font-size: 50px; text-align: center;"></p>
		<p id="time-sub-display" style="font-size: 30px; text-align: center;"></p>
		<button type="button" id="tweet" style="font-size: 25px;">ツイート</button>
		<p>放送時間の取得元: <a href="<%= siteConfig.sourceUrl %>"><%= siteConfig.sourceUrl %></a></p>
	</body>
</html>
